body{
    background-color: rgb(37, 134, 27);
    
    }
    
    .heading{
    
        background-color: rgb(8, 99, 31);
        color: rgb(26, 170, 52);
        font-family: 'Water Brush', cursive;
        font-size: 35px;
        margin: 0px;
        box-shadow: 10px 10px 10px rgb(28, 27, 27);
    }
    
    .note{
    
        font-size: 20px;
        color:rgb(39, 219, 78);
    }
    
    .copy_right_footer{
        position: fixed;
        color: rgb(0, 255, 38);
        bottom: 0;
        width: 100%;
        font-family: 'Water Brush', cursive;
        background-color: rgb(5, 100, 2);
        line-height: 3;
        text-align: center;
    }